.GitHub .select-group {
    margin-bottom: 1rem;
}

.GitHub .labels .label-item {
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.GitHub .applying-status {
    margin: 1rem 0;
}

.GitHub .labels .label-item .label-icon {
    margin: .5rem;
    display: inline-block;
}

.GitHub .labels .label-item .label-name {
    vertical-align: super;
}