.Home header {
    font-family: Oswald, Roboto, sans-serif;
    font-size: 120%;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 400px) {
    .Home header {
        font-size: 150%;
    }
}

@media (min-width: 576px) {
    .Home header {
        font-size: 200%;
    }
}

.Home header * {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.Home header .text {
    font-size: 100%;
    margin: .75em;
    display: inline-block;
}

.Home header .logo {
    height: 2em;
}

.Home section {
    text-align: center;
}

.Home section:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 1rem 0;
}

.Home section.description {
    font: 300 140% aller, Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    clear: both;
    margin-top: 1rem;
    text-align: center;
    padding: 4rem;
}

.Home section h2,
.Home section h4 {
    text-align: center;
    margin: 2rem 0;
    padding: 0;
    text-align: center;
}

.Home .project-handlers-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Home .project-handlers-buttons .btn {
    display: inline-block;
    padding: 1rem 3rem;
    width: 100%;
    margin-bottom: 1rem;
}

.Home .project-handlers-buttons .btn .icon {
    position: relative;
    top: -2px;
    width: 3rem;
    display: block;
    margin: auto;
}